@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ModelApllication.Entities.Kind

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kind</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Voornaam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Voornaam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.leeftijd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.leeftijd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
